<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant catalogue for you" />
    <meta name="theme-color" content="#DB0000" />

    <link rel="apple-touch-icon" href="../public/icons/icon-128x128.png" />
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" crossorigin="anonymous" href="app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <button
      type="button"
      id="skip-to-content-link"
      class="skip-to-content-link"
    >
      Menuju ke konten
    </button>
    <!-- <a href="#/list" class="skip-to-content-link">Menuju ke konten</a> -->
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restaurant Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Beranda</a></li>
          <li><a href="#/list">Daftar Restoran</a></li>
          <li><a href="#/favorite">Restoran Favorit</a></li>
        </ul>
      </nav>
    </header>
    <div id="hero" class="hero">
      <div class="hero-inner">
        <h1 class="hero-title">Restoran di Sekitar Kita</h1>
        <p class="hero-tagline">
          Melihat informasi restoran di sekitar kita hanya dengan sentuhan
          tangan
        </p>
      </div>
    </div>

    <main id="mainContent">
      <p>Hello World</p>
    </main>
    <footer>
      <h2 id="about-me">About Me</h2>
      <ul class="social-media-list">
        <li class="social-media-item">
          <a href="https://github.com/zulfianrahma"
            ><i class="fa fa-github" style="font-size: 36px"></i>
            <p>Github</p>
          </a>
        </li>
        <li class="social-media-item">
          <a href="https://linkedin.com/in/zulfianrahmadiansyah"
            ><i class="fa fa-linkedin" style="font-size: 36px"></i>
            <p>Linkedin</p>
          </a>
        </li>
      </ul>
      <p>Copyright © 2023 - Restaurant Apps</p>
      <p><a>Zulfian Rahmadiansyah</a></p>
    </footer>
  </body>
</html>
